*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  height: 100vh;
  background-color: #02012b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  --w: 25rem;
  --g: 2rem;
  display: grid;
  width: 90%;
  height: 90%;
  gap: 2rem;
  /* grid-auto-columns: minmax(200px, auto);
  grid-auto-rows: minmax(60px, auto); */
}

.gi {
  display: grid;
  place-items: center;
  font-size: 4rem;
  font-weight: bolder;
  /* max-width: 21rem; */
  background-color: aqua;
}

.gi2 {
  grid-row-end: 2;
  grid-row-start: span 2;
}

.gi1 {
  grid-row-end: 2;
  grid-row-start: span 2;
  grid-column-end: 2;
  grid-column-start: span 2;
}

.gi5 {
  grid-column: 3;
}
