*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  height: 100vh;
  background-color: #02012b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  width: 90%;
  height: 90%;
  /* gap: 2rem; */
  /* place-items: center; */
}

.gi {
  font-size: 9.4rem;
  font-weight: bolder;
  /* background-color: aqua; */
  height: 100%;
  /* height: 90px; */
  /* width: 90px; */
}

.gi1 {
  /* border: 50px dashed rgb(181, 0, 253); */
  /* border: 4rem solid; */
  border-image-source: conic-gradient(
    from 90deg at 50% 50%,
    blue 40%,
    transparent 50% 65%,
    rgb(255, 45, 108) 75% 100%
  );
  /* border: 3rem solid; */
  /* border-image-source: url(../border-img-dimond.png); */
  /* border-image: repeating-linear-gradient(45deg, #f33, #3bf, #f33 30px) 60; */
  /* border-image: radial-gradient(#ff2, #55f) 40; */
  border-image-width: 3rem;
  /* border-image-outset: 3rem; */
  /* border-image-repeat: space; */
  border-image-slice: 1;
  /* padding: 10rem; */
  position: relative;
}
.gi1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-image: radial-gradient(
    at 50% 50%,
    rgba(0, 0, 255, 0.274) 40%,
    transparent 50% 65%,
    rgba(255, 45, 108, 0.219) 75% 100%
  );
  border-image-width: 5rem;
  border-image-slice: 1;
  border-image-outset: 1rem;
}

.gi1:hover {
}
.gi2 {
}
.gi3 {
}
.gi4 {
}
.gi5 {
}
.gi6 {
}
.gi7 {
}
