*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  height: 100vh;
  background-color: #02012b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  /* place-items: center; */
  width: 90%;
  height: 90%;
  gap: 2rem;
  /* background-color: rgb(0, 255, 255); */
}

.gi {
  font-size: 6.4rem;
  font-weight: bolder;
  /* background-color: rgb(0, 255, 255); */
  height: 100%;
}

.gi1 {
  background-color: rgb(183, 0, 255);
  /* display: grid;
  place-items: center; */
  /* display: flex; */
  gap: 15rem;
  border-radius: 10rem;
}
.div {
  display: inline-block;
  margin: 10rem;
  padding: 30rem;
  background-color: aquamarine;
}

.div1 {
  /* margin-inline-end: 30rem; */
}
::first-letter {
  font-size: 40rem;
  color: aqua;
}
p {
}

p {
}
span {
}
.gi2 {
}
.gi3 {
}
.gi4 {
}
.gi5 {
}
.gi6 {
}
.gi7 {
}
